---

- name: Install KVM
  when: ocp_install  == "true"
  tags: remove
  become: true
  block:
    - name:  OpenShift cluster destroy
      shell: |
        {{ ocp_install_path }}/artifacts/openshift-installer-{{ ocp_release }}/openshift-install destroy cluster --dir {{ ocp_install_path }}/install/
        rm -rf {{ ocp_install_path }}/install/

- name: Install KVM
  when: kvm_configure  == "true"
  tags: remove
  become: true
  block:
    - name:  Unpublish
      ignore_errors: yes
      shell: |
        set -x
        # Unpublishing
        if [ {{ compute.0.replicas }} -ne 0 ]
        then
          API_VIP={{ ocp_api_vip }}
          APPS_VIP={{ ocp_apps_vip }}
        else
          API_VIP={{ ocp_api_vip }}
          APPS_VIP={{ ocp_api_vip }}
        fi
        if [ {{ lb }} == "true" ]
        then
          API_VIP={{ ocp_cluster_net_gw }}
          APPS_VIP={{ ocp_cluster_net_gw }}
        fi
        iptables -D INPUT -p tcp  --dport 6443 -j ACCEPT
        iptables -D INPUT -p tcp  --dport 80 -j ACCEPT
        iptables -D INPUT -p tcp  --dport 443 -j ACCEPT
        iptables -D PREROUTING -t nat -i {{ kvm_interface }} -p tcp --dport 6443 -j DNAT --to $API_VIP:6443
        iptables -D FORWARD -p tcp -d $API_VIP --dport 6443 -j ACCEPT
        iptables -D PREROUTING -t nat -i {{ kvm_interface }} -p tcp --dport 443 -j DNAT --to $APPS_VIP:443
        iptables -D FORWARD -p tcp -d $APPS_VIP --dport 443 -j ACCEPT
        iptables -D PREROUTING -t nat -i {{ kvm_interface }} -p tcp --dport 80 -j DNAT --to $APPS_VIP:80
        iptables -D FORWARD -p tcp -d $APPS_VIP --dport 80 -j ACCEPT
        iptables -D FORWARD -i any -o any -j ACCEPT



    - name: Configure Firewalld
      become: true
      ignore_errors: yes
      shell: |
        DEFAULT_ZONE=$(sudo firewall-cmd --get-default-zone)
        sudo firewall-cmd --remove-rich-rule "rule service name="libvirt" reject" --permanent
        sudo firewall-cmd --zone=$DEFAULT_ZONE --remove-service=libvirt --permanent
        sudo firewall-cmd --zone=$DEFAULT_ZONE --remove-interface=tt0  --permanent
        sudo firewall-cmd --zone=$DEFAULT_ZONE --remove-interface=virbr0  --permanent
        sudo firewall-cmd --reload
      when: kvm_firewall == "firewalld"

    - name: Configure Firewalld
      become: true
      ignore_errors: yes
      shell: |
        sudo firewall-cmd --remove-rich-rule  "rule service name="libvirt" reject" --permanent
        sudo firewall-cmd --zone=dmz --remove-interface=virbr0 --permanent
        sudo firewall-cmd --zone=dmz --remove-interface=tt0 --permanent
        sudo firewall-cmd --zone=dmz --remove-service=libvirt --permanent
        sudo firewall-cmd --reload
      when: ansible_distribution  == "Fedora"

    - name: Configure Firewalld
      become: true
      ignore_errors: yes
      shell: |
        sudo firewall-cmd --zone=libvirt --remove-rich-rule "rule family="ipv4" source address=0.0.0.0/0 accept"  --permanent
        sudo firewall-cmd --reload
      when: (ansible_distribution == "CentOS" and ansible_distribution_major_version == "8") or
            (ansible_distribution == "RedHat" and ansible_distribution_major_version == "8")


    - name: Remove Load Balancer
      when: lb  == "true"
      become: true
      block:
        - name: Remove packages
          yum:
            name:
              - haproxy
            state: removed


    - name: Remove NFS
      when: nfs_storage  == "true"
      become: true
      block:
        - name: Remove packages
          yum:
            state: removed
            name: "{{ item }}"
          with_items:
            - nfs-utils
            - rpcbind


        - name: Remove NFS OCP dirs
          ignore_errors: yes
          file:
            path: "{{ item }}"
            state: absent
          with_items:
            - /export/ocp/



    - name: Remove /etc/NetworkManager/conf.d/openshift.conf
      file:
        path: /etc/NetworkManager/conf.d/openshift.conf
        state: absent

    - name: Remove /etc/NetworkManager/dnsmasq.d/openshift.conf
      file:
        path: /etc/NetworkManager/dnsmasq.d/openshift.conf
        state: absent


    - name: Reload network
      become: true
      systemd:
        name: NetworkManager
        state: reloaded

    - name: Configure DNS external servers
      shell: 'echo "nameserver 8.8.8.8" >> /etc/resolv.conf'
