
######## {{ metadata.name }} BEGIN ########

frontend openshift-api-server
    bind *:{{ ocp_node_port_api }}
    default_backend openshift-api-server
    mode tcp
    option tcplog

backend openshift-api-server
    balance source
    mode tcp
{% for m in range(0, controlPlane.replicas) %}
    server {{ metadata.name }}-master-{{ loop.index0 }} {{ ocp_api_vip |ipmath( loop.index0 ) }}:6443 check
{% endfor %}

{% if compute.0.replicas == 0 %}
{% set nodes = controlPlane.replicas %}
{% set ocp_apps_vip = ocp_api_vip %}
{% else %}
{% set nodes = compute.0.replicas %}
{% endif %}

frontend ingress-http
    bind *:{{ ocp_node_port_app_http }}
    default_backend ingress-http
    mode tcp
    option tcplog

backend ingress-http
    balance source
    mode tcp
{% for w in range(0, nodes) %}
    server {{ metadata.name }}-worker-http-router-{{ loop.index0 }} {{ ocp_apps_vip | ipmath( loop.index0 ) }}:80 check
{% endfor %}

frontend ingress-https
    bind *:{{ ocp_node_port_app_https }}
    default_backend ingress-https
    mode tcp
    option tcplog

backend ingress-https
    balance source
    mode tcp
{% for w in range(0, nodes) %}
    server {{ metadata.name }}-worker-https-router-{{ loop.index0 }} {{ ocp_apps_vip | ipmath( loop.index0 ) }}:443 check
{% endfor %}

######## {{ metadata.name }} END ########
