
######## {{ metadata.name }} BEGIN ########

frontend {{ metadata.name }}-openshift-api-server
    bind {{ publicaddress }}:{{ ocp_node_port_api }}
    bind {{ ocp_cluster_net_gw }}:6443
    default_backend {{ metadata.name }}-openshift-api-server
    mode tcp
    option tcplog

backend {{ metadata.name }}-openshift-api-server
    balance source
    mode tcp
{% for m in range(0, controlPlane.replicas) %}
    server {{ metadata.name }}-master-{{ loop.index0 }} {{ ocp_api_vip |ipmath( loop.index0 ) }}:6443 check
{% endfor %}

{% if compute.0.replicas == 0 %}
{% set nodes = controlPlane.replicas %}
{% set ocp_apps_vip = ocp_api_vip %}
{% else %}
{% set nodes = compute.0.replicas %}
{% endif %}

frontend {{ metadata.name }}-ingress-http
    bind {{ publicaddress }}:{{ ocp_node_port_app_http }}
    bind {{ ocp_cluster_net_gw }}:80
    default_backend {{ metadata.name }}-ingress-http
    mode tcp
    option tcplog

backend {{ metadata.name }}-ingress-http
    balance source
    mode tcp
{% for w in range(0, nodes) %}
    server {{ metadata.name }}-worker-http-router-{{ loop.index0 }} {{ ocp_apps_vip | ipmath( loop.index0 ) }}:80 check
{% endfor %}

frontend {{ metadata.name }}-ingress-https
    bind {{ publicaddress }}:{{ ocp_node_port_app_https }}
    bind {{ ocp_cluster_net_gw }}:443
    default_backend {{ metadata.name }}-ingress-https
    mode tcp
    option tcplog

backend {{ metadata.name }}-ingress-https
    balance source
    mode tcp
{% for w in range(0, nodes) %}
    server {{ metadata.name }}-worker-https-router-{{ loop.index0 }} {{ ocp_apps_vip | ipmath( loop.index0 ) }}:443 check
{% endfor %}

######## {{ metadata.name }} END ########
